.menu {
    border: 3px solid #333;
    background-color: #666;

    &__right {
        float: right;
    }

    &__sm {
        width: 400px;
    }

    &__md {
        width: 600px;
    }

    &__lg {
        width: 800px;
    }
}